/* Wireframing */
/**:not(body):not(html) {
  border: 1px dashed #000;
}*/

/*end*/

*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
}

.container {
  min-width: 90vw;
  min-height: 100vh;
  margin: 0 5vw 0 5vw;
}

.navbar {
  background: #452610;
}

.navbar-collapse ul.navbar-nav a {
  color: #DA7E25;
}

.navbar-header .navbar-brand {
  color: #DA7E25;
}

.navbar-collapse ul.navbar-nav a:hover {
  color: #FFFFFF;
}

.navbar-header .navbar-brand:hover {
  color: #DA7E25;
}

.navbar-toggle .sr-only .icon-bar {
  background-color: #1F130A;
  border: none;
}

.showtimes {
  border: solid 1px #C5C6C1;
  border-radius: 5px;

}

.ticket-panel {
  margin: 0 4vw;
}

.ticket-panel h4 {
  text-align: center;
}

.btn-warning {
  width: 46%;
  margin: 1%;
}

.poster img {
  max-width: 90%;
}

.poster {
  margin: 0 2vw;
  width: 20vw;
  padding: 0;
}

.hailCaesar {
  padding: 4vh 0;
  width: 70vw;
  margin-left: -2vw;
}

.col-sm-8 .hailCaesar button {
  max-width: 200px;
  min-width: 100px;
}
