/* Wireframing */
*:not(body):not(html) {
  border: 1px dashed #000;
}

/*end*/

*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
}

.container {
  min-width: 100%;
  min-height: 100vh;
  /*background-color: red;*/
}

.navbar {
  background: #452610;
}

.navbar-collapse ul.navbar-nav a {
  color: #DA7E25;
}

.navbar-header .navbar-brand {
  color: #DA7E25;
}

.navbar-collapse ul.navbar-nav a:hover {
  color: #FFFFFF;
}

.navbar-header .navbar-brand:hover {
  color: #DA7E25;
}

.navbar-toggle .sr-only .icon-bar {
  background-color: #1F130A;
  border: none;
}

.showtimes {
  border: solid 1px #C5C6C1;
  border-radius: 5px;
}

.ticket-panel {
  margin: 0 4vw;
}

.ticket-panel h4 {
  text-align: center;
}

.btn-warning {
  width: 46%;
  margin: 1%;
}

.banner img {
  max-width: 40%;
  max-height: auto;
  margin: 5px;
}

.banner {
  margin: 0 2vw;
  width: 50vw;
}

.hailCaesar {
  margin: 3vh 1vw;
  width: 50vw;
}

.col-xs-6 .hailCaesar button {
  width: 30vw;
  min-width: 100px;
}
